<form action="/recipes/<%= @recipe.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH"/>   
<input type="text" name="name" value="<%= @recipe.name %>" id="name"/>  
<input type="text" name="ingredients" value= <%= @recipe.ingredients %> id="ingredients"/>
<input type="text" name="cook_time" value= <%= @recipe.cook_time %> id="cook_time"/>
<input type="submit" name="submit"/>
</form>


