<form action="/recipes/<%= @recipe.id %>" method = 'POST'>
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Name: <input="text" name="name" value="<%= @recipe.name %>"></label>
  <label>Ingredients: <input="text" name="ingredients" value="<%= @recipe.ingredients %>"></label>
  <label>Cook Time: <input="text" name="cook_time" value="<%= @recipe.cook_time %>"></label>
  <input type="submit" name="submit" value="submit">
</form>