<form method='POST' action='/recipes'>
  <label for='name'>Name:</label>
    <input name='name' type='text' id='name'>
    <label for='ingredients'>Ingredients:</label>
      <input name='ingredients' type='text' id='ingredients'>
    <label for='cook_time'>Cook Time:</label>
      <input name='cook_time' type='text' id='cook_time'>
    <input type='submit' id='submit' value='submit'>
</form>
