

<h1>Recipe Name: <%= @recipe.title%> </h1>
<p>Ingredients: <%= @recipe.ingredients%> </p>
<p> Cook Time: <%= @recipe.cook_time%> </p>


<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id ="delete" value="delete">
</form>