<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>

      <h1> <%= @recipe.name %> </h1><br>
      <h3> <%= @recipe.ingredients %></h3><br>
      <h3> <%= @recipe.cook_time %> </h3>

      <form action="/recipes/<%= @recipe.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>

  </body>
</html>
